* {
  box-sizing: border-box;
  /*% ^ without this, Only the content box will take up 270 pixels. With this, the total width Will be 270 pixels. The content Box would Reduce its width Proportionately to Include the dimensions of The padding and the border would add up to 270 pixels. */
}

html {
  font-size: 16px;
}

body {
  font-family: "Open Sans", sans-serif;
  /*% ^ fonts with spaces must be wrapped in quotes */
}

.label {
  border: 2px solid black;
  width: 270px;
  /*% ^ to make the box smaller */
  margin: 20px auto;
  /*% ^center the element */
  padding: 0 7px;
  /*% ^space from the border */
}

header h1 {
  text-align: center;
  margin: -4px 0;
  /*% ^ to To reduce the top and bottom margin By SPECIFYING the margin amount. it doesn't subtract from the original margin. */
  letter-spacing: 0.15px;
}

p {
  margin: 0;
}

.divider {
  border-bottom: 1px solid #888989;
  margin: 2px 0;
  clear: right;
  /*% ^pushes past any elements that are floated to the right. floated elements are taken out of the normal document flow and they can appear on top of each other which is the case if the have the divider after the %daily value floated element. the divider appears to layer on top of the floated element when no clear is applied */
}

.bold {
  font-weight: 800;
}

.right {
  float: right;
}

.lg {
  height: 10px;
}

.lg,
.md {
  background-color: black;
  border: 0;
  /*% ^Always check your elements padding, border and margin Dimensions, And adjust when required. */
}

.sm-text {
  font-size: 0.85rem;
}

.calories-info h1 {
  margin: -5px -2px;
  overflow: hidden;
}

.calories-info span {
  font-size: 1.2em;
  margin-top: -7px;
}

.md {
  height: 5px;
  /*% ^we wont be able to see the border from .divider because of  the .lg .md rule above which makes border 0. the fill that comes from this element after you give it height is because of the background colour from the .lg .md rule */
}

.indent {
  margin-left: 1em;
}

.daily-value p:not(.no-divider) {
  border-bottom: 1px solid #888989;
}
