.canvas {
  width: 500px;
  height: 600px;
  background-color: #4d0f00;
  /* padding: 1px; */
  /*% ^to have space in between the .canvas and .one containers BUT it increases the dimensions of the box*/
  overflow: hidden;
  /*% ^to make the .one container not affect the .canvas box. The extra margin from .one will be "hidden" from the perspective of .canvas */
  filter: blur(2px);
  /*% ^will apply to all the elements contained inside it since they are descendants */
}

.frame {
  border: 50px solid black;
  width: 500px;
  /*% ^you need to change the width and make it smaller because the containing element is a div that takes up the entire width; */
  padding: 50px;
  margin: 20px auto;
}

.one {
  width: 425px;
  height: 150px;
  background-color: #efb762;
  margin: 20px auto;
  /*% ^the canvas container also moves down. the top margin of .one collapses(joins) with .canvas. it shifts BOTH of them  down 20px */
  box-shadow: 0 0 3px 3px #efb762;
  border-radius: 9px;
  transform: rotate(-0.6deg);
}

.two {
  width: 475px;
  height: 200px;
  /*% ^^gives the div a shape. without these dimensions we would not be able to see the div */
  background-color: #8f0401;
  /* margin: auto; */
  margin: 0 auto 20px auto;
  /*% ^simple way to center a div */
  box-shadow: 0 0 3px 3px #8f0401;
  border-radius: 8px 10px;
  transform: rotate(0.4deg);
}

.one,
.two {
  filter: blur(1px);
  /*% ^blurs are stacked */
}

.three {
  width: 91%;
  height: 28%;
  background-color: #b20403;
  margin: auto;
  filter: blur(2px);
  border-radius: 30px 25px 60px 12px;
  transform: rotate(-0.2deg);
}
