@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

body {
  background: #f5f6f7;
  color: #1b1b32;
  font-family: Helvetica;
  margin: 0;
}

header {
  width: 100%;
  height: 50px;
  background-color: #1b1b32;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  /* % ^if you want the header to stay at the top when scrolling use this */
  top: 0;
  /* % ^so that the element is moved to the top of the viewport. top and position are used in conjunction */
}

#logo {
  width: max(100px, 18vw);
  padding: 0.4rem;
  aspect-ratio: 35 / 4;
  background-color: #0a0a23;
}

h1 {
  color: #f1be32;
  font-size: min(5vw, 1.2em);
  text-align: center;
}

main {
  padding-top: 25px;
}

nav > ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  padding-inline-start: 0;
  margin-block: 0;
  height: 100%;
}

nav li {
  color: #dfdfe2;
  margin: 0 0.2rem;
  padding: 0.2rem;
  display: block;
}

nav li:hover {
  background-color: #dfdfe2;
  color: #1b1b32;
  cursor: pointer;
}

li a {
  color: inherit;
  /* % ^you can use inherit or state the colour explicitly */
  text-decoration: none;
}

h1,
h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
  border-bottom: 4px solid #dfdfe2;
  margin-top: 0px;
  padding-top: 60px;
}

section {
  width: 80%;
  margin: 0 auto 10px auto;
  max-width: 600px;
}

input {
  font-size: 20px;
}

p {
  margin-top: 5px;
  padding-left: 15px;
  font-size: 20px;
}

input[type="submit"] {
  display: block;
  margin: 40px auto;
  width: 40%;
  padding: 15px;
  font-size: 23px;
  background: #d0d0d5;
  border: 3px solid #3b3b4f;
}

button {
  display: block;
  margin: 40px auto;
  width: 40%;
  padding: 15px;
  font-size: 23px;
  background: #d0d0d5;
  border: 3px solid #3b3b4f;
}

footer {
  background-color: #2a2a40;
  display: flex;
  justify-content: center;
}

footer,
footer a {
  color: #d0d0d5;
}
/* % ^ the reason why we need to specify a rule for the a tag https://stackoverflow.com/questions/1144931/when-will-an-a-tag-not-inherit-color-attribute-of-parent-tag :Anchor tags do inherit color, linked or not. The only reason they don't in practice is because they already have their color set in the browser's default stylesheet. */

address {
  text-align: center;
  padding: 1em 1em;
}

.info {
  padding: 5px 0 0 5px;
}

.question {
  padding-bottom: 0;
  border: 0;
}

/* .info input,
.info label {
  display: inline-block;
} */

.info > input {
  width: 50%;
  text-align: left;
  display: inline-block;
}

.info > label {
  width: 10%;
  min-width: 55px;
  display: inline-block;
  text-align: right;
}
/* % ^not sure why adjusting the width does not affect it */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
/* % ^commonly used pattern to visually hide text for only screen readers */

.formrow {
  margin-top: 5px;
  padding: 0 5px 0 5px;
}

.question-block {
  text-align: left;
  display: block;
  width: 100%;
  margin-top: 20px;
  padding-top: 5px;
}

.answers-list {
  list-style: none;
  padding: 0;
}

p::before {
  content: "Question #";
}
/* ! ^not sure why they put the text this way instead of just putting the text in the para */
